<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        body{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    form{ 
        max-width: 380px;
        display: grid;
        grid-template: repeat(3, 30px) / 1fr 1fr 50px;
        grid-template-areas: 
        "fullNameLabelArea fullNameArea buttonArea"
        "emailLabelArea emailArea buttonArea"
        "telNumberLabelArea telNumberArea buttonArea";
        column-gap: 5px;
        row-gap: 5px;
    }

    form>*{
        font-size: 18px;
    }
    #fullNameLabel{
        grid-area: fullNameLabelArea;
    }
    #fullName{
        grid-area: fullNameArea;
    }
    #emailLabel{
        grid-area: emailLabelArea;
    }
    #email{
        grid-area: emailArea; 
    }

    #telNumberLabel{
        grid-area: telNumberLabelArea;
    }

    #telNumber{
        grid-area: telNumberArea;
    }
    #submitButton{
        grid-area: buttonArea;
        width: 80px;
        grid-row: 2;
    }
    </style>
    <title>Personal data</title>
</head>

<body>
    <h1>Provide your full name, e-mail and telephone number</h1>
    <form name="mainForm" action="/formdata" method="POST">
        <label for="fullName" id="fullNameLabel">Full name: </label>
        <input type="text" id="fullName" name="fullName" required>

        <label for="email" id="emailLabel"> E-mail: </label>
        <input type="text" id="email" name="email" required>

        <label for="telNumber" id="telNumberLabel"> Tel.number: </label>
        <input type="text" id="telNumber" name="telNumber" required>

        <input type="submit" id="submitButton" value='Submit'>
    </form>

</body>

</html>